/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {}

@media only screen and (min-width : 1200px) {}

@media only screen and (min-width : 1024px) and (max-width : 1200px) {}

@media only screen and (min-width : 992px) and (max-width : 1024px) {}

@media only screen  and (min-width : 990px) and (max-width : 1024px) {}