.Bottom{
   // min-height: 60vh;
    @import "./Bottom_Section_SelectedItem";



    
    .BottomCTA{
        padding-top:0px;
        .inner{
            display: flex; 
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items:baseline;
            align-content: center;
            padding: 1%;
            margin:  0 10%;
    
            button{
                
            }
        }
       
    
    }

    @media only screen  and  (min-width : 1200px) {

    }     
    @media only screen  and (min-width : 990px) and (max-width : 1200px) {
        .BottomCTA{ .inner{ margin: 3% 10% 0% ; }}
    } 
    @media only screen  and (min-width : 768px) and (max-width : 990px) { 
        .BottomCTA{
            .inner{ margin: 3% 10% 0% ; padding: 2% 0 ; }
        }
    }     
    

    @media only screen and (max-width : 768px) { 
       
        .BottomCTA{ .inner{ margin: 3% 3% 0% ;  padding: 2% 0 ;}}

    }

    @media only screen and (min-width : 576px) and (max-width : 768px) {  

    }
    @media only screen and (max-width : 576px) {  
        .BottomCTA{ .inner{ margin: 3% 3% 0% ;  padding: 5% 0 ;}}
    }
    @media only screen and (min-width : 480px) and (max-width : 576px) {  
    }
    
    @media only screen and (min-width : 320px) and (max-width : 480px) { 
      
    }
}


@at-root{
    .InteractiveList.Child_0 .BottomCTA{ background-color: $TechColor;}
    .InteractiveList.Child_1 .BottomCTA{ background-color: $BiologyColor;}
    .InteractiveList.Child_2 .BottomCTA{ background-color: $EconomicColor;}
    .InteractiveList.Child_3 .BottomCTA{ background-color: $EnviromentColor;}
    .InteractiveList.Child_4 .BottomCTA{ background-color: $CultuerColor;}
    .InteractiveList.Child_5 .BottomCTA{ background-color: $HealthColor;}
}
