@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */

    #Home{ padding: 120px 0 0 }
    #Glabs .InteractiveList .Top .ApplicationCopy{ width: 49%; padding:0;}
    #Glabs .InteractiveList .Top .ResultsContainer{ width: 49%; padding:0;}
    #Glabs .InteractiveList .Top .ResultsContainer .ListContainer #ParentList{ background-size:  auto 100%;}
}

 