#ParentList{
    
    flex-grow: 1;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:baseline;
    align-content: center;
    margin: 5% 0;
    background-image: url($Path+"/assets/images/LightBulbInner.svg"); 
    background-position: center center;
    background-size: 75%;
    background-repeat: no-repeat; 

    >div:nth-child(1){ 
        flex: 0 1 100%;
        margin: 0  ;
      }
    >div:nth-child(9){
        margin: -40px 0 0 0 ;
      }
    >div:nth-child(2),>div:nth-child(3) {
        flex: 0 1 50%;
        margin: -40px 0 0px 0 ;
      }
    >div:nth-child(4),>div:nth-child(5){
        flex: 0 1 50%;
       margin:20px 0;
      }

      >div:nth-child(6){
        margin:-40px 0 0 0  ;
      }
    >div { 
      flex: 1 0 50%;
    }

    .animated{

        .CenterThis{
            display: flex;
            justify-content: center;
            flex-direction: row;
            text-align: center;     
        }
       
        .ParentListItem{

            height: $baseDimensions -  15;
            width: $baseDimensions - 15;
            border-radius: $baseDimensions;
            line-height: $baseDimensions;
            text-align: center;
            position: relative;
            background-size: cover; 
            -webkit-animation: pulsate-fwd 2.5s ease-in-out infinite both;
            animation: pulsate-fwd 2.5s ease-in-out infinite both;

            .ParentListIcon{
                
       
                width: 100%;
                height: 100%;
                line-height: 1em;
                border-radius: $baseDimensions;
                background-position: center 15px;
                background-repeat: no-repeat;
                background-size: 50px;
                color: white;

           
                .ParentListTitle{
                  font-size: .8em;
                  color: white;
                  margin:55px  5px 0;
                }
            }

           

            .Tech{        @include ParentIcons($Path,"cog.svg", $TechColor) }
            .Biology{      @include ParentIcons($Path,"Heart.svg", $BiologyColor)}
            .Economics{    @include ParentIcons($Path,"Dollar.svg", $EconomicColor)}
            .Environment{  @include ParentIcons($Path,"Leaf.svg", $EnviromentColor)}
            .Culture{      @include ParentIcons($Path,"HandShake.svg", $CultuerColor)}
            .Health{       @include ParentIcons($Path,"molecule.svg", $HealthColor)}
        }
    
    }
    

    @media only screen  and  (min-width : 1200px) {

    }     
    @media only screen  and (min-width : 990px) and (max-width : 1024px) {
      .animated{
        .ParentListItem{

          height: $baseDimensions - 20;
          width: $baseDimensions - 20;
          
          .ParentListIcon{
           
            .ParentListTitle{
              font-size: .8em;
            }
          }
        }
      }

    } 
    @media only screen  and (min-width : 786px) and (max-width : 990px) {
      height: 40vh;
      background-size: 65%;
      .animated{
        .ParentListItem{

          height: $baseDimensions - 35;
          width: $baseDimensions - 35;
          
          .ParentListIcon{
            background-size: 30px;
            .ParentListTitle{
              font-size: .7em;
              margin-top:35px;
              line-height:1.1em;
            }
          }
        }
      }

    } 
    @media only screen  and (min-width : 768px) and (max-width : 990px) { 
      
    }     
   
    @media only screen and (min-width : 576px) and (max-width : 785px) {  
      background-size: 55%;

    }
    @media only screen and (min-width : 576px) and (max-width : 768px) {  
    }
    @media only screen and (min-width : 480px) and (max-width : 576px) {  
    }
    
    @media only screen and (min-width : 320px) and (max-width : 480px) { 
    
    }

    @media only screen and (max-width : 576px) { 
      background-size: 95%;
      height: 44vh !important;
      .animated{
        .ParentListItem{

          height: $baseDimensions - 35;
          width: $baseDimensions - 35;
          
          .ParentListIcon{
            background-size: 40px;
            .ParentListTitle{
              font-size: .7em;
              margin-top:50px;
              line-height:1.1em;
            }
          }
        }
      }
      
      >div:nth-child(2),>div:nth-child(4){
        display: flex;
        justify-content: flex-start;
          div{    align-self: flex-start;}
      }
      >div:nth-child(3),>div:nth-child(5){
        display: flex;
        justify-content: flex-end;
          div{    align-self: flex-end;}
      }
    }

}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-9 10:26:41
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
