
.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
    margin: 30px 0;

    .YTVideoPlayer {
        position: absolute;
        top: 0;
        left: 0;
      }
  }


  .SupportingImage{
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
    margin: 30px 0;
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%
      }
  }
   
  