
 // Typography


 $FontFamilyHeader:"Guardian Headline Regular";
 $FontFamilyHeaderBold:"Guardian Headline Bold";
 $FontFamilyBody:"TS3 Text Sans";
 
$FontLargeSize:3em;
$FontLargeLine:1.2em;
$FontLargeWeight:100;

$FontMedSize:2em;
$FontMedLine:1.1em;
$FontMedWeight:100;

$FontSmallSize:1.2em;
$FontSmallLine:1.5em;
$FontSmallWeight:100; 